<ul>
  <h2>Chores</h2>
  <li>
    <input type="checkbox"></input>
    <span>Laundry</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Vaccum room</span>
    <strong>1 pomodoro</strong>
  </li>
</ul>

